$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #d3d3d3,
  secondary:  #696969,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

// Top Toolbar
$toolbar-md-background: color($colors, secondary);

// Bottom Tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, primary);
$tabs-md-tab-color: color($colors, primary);
$tabs-md-tab-text-color: color($colors, light);

// List
$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
